.skill-language {
    grid-area: auto;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.skill-language li {
    font-size: 0.8rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    position: relative;
    background: repeating-linear-gradient(
            -45deg,
            rgba(40, 50, 65, 0.5),
            rgba(40, 50, 65, 0.5) 10px,
            rgba(125, 125, 127, 0.5) 10px,
            rgba(125, 125, 127, 0.5) 20px
    );
    overflow: hidden;
}

.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #7d7d7f;
    border-radius: 25px;
    transition: width 0.3s ease-in-out;
}

.rounded-icon {
    background-color: hsla(0, 0%, 0%, 0.7);
    border-radius: 50%;
    padding: 5px;
    margin-right: 5px;
    z-index: 10;
}